---
import Button from "@components/Button/Button.astro";
import DiscordLogo from "@images/front/discord.png";
---
<Button variant="ghost" href="https://discord.gg/AhtVp89u" class="md:block px-4 py-2">
	<img src={DiscordLogo.src} alt="Discord Logo" class="w-31 h-10" />
</Button>
